<div class="product-card">
  <a href="{{ product.url }}" class="product-card__link">
    <!-- 商品画像 -->
    <div class="product-card__image">
      {% if product.featured_image %}
        {{ product.featured_image | image_url: width: 265 | image_tag:
          loading: 'lazy',
          alt: product.featured_image.alt
        }}
      {% endif %}
    </div>
    <div class="product-cart__content">
      <!-- カテゴリ -->
      {% if product.type != blank %}
        <p>{{ product.type }}</p>
      {% endif %}

      <!-- 商品名 -->
      <h3>{{ product.title }}</h3>

      <!-- 価格 -->
      <div class="product-card__price">
        <span class="price">{{ product.price | money }}</span>
        <span class="price-tax">（税込￥{{ product.price | times: 1.1 | money }}）</span>
      </div>

      <!-- サイズ（条件表示） -->
      {% if show_size and product.metafields.custom.size != blank %}
        <p class="product-card__size">
          サイズ：{{ product.metafields.custom.size }}
        </p>
      {% endif %}
    </div>
  </a>
</div>