{%- style -%}
  .category-list__bg {
    background-image: url('{{ section.settings.background_image | image_url: width: 1440 }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
{%- endstyle -%}

<section id="category-list" class="category-list">
  <div class="category-list__bg">
    <div class="category-list__content">
      <h2 class="capitalize">{{ section.settings.title }}</h2>
      <div class="category-list__list">
        {%- for block in section.blocks -%}
          {% assign collection = block.settings.collection %}
          {%- if collection != blank -%}
            <a href="{{ collection.url }}" class="category-list__link">
              <div class="category-list__item-image">
                {%- if collection.image != blank -%}
                  <img src="{{ collection.image | image_url: width: 70 }}" alt="{{ collection.title }}" width="70" height="70" loading="lazy">
                {%- endif -%}
              </div>
              <h3>{{ collection.title }}</h3>
            </a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "カテゴリー一覧",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "タイトル",
      "default": "products"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "背景画像"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "カテゴリー",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "表示するカテゴリ"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "カテゴリー一覧"
    }
  ]
}
{% endschema %}