{{ 'custom-header.css' | asset_url | stylesheet_tag }}

<header id="header" class="custom-header">
  <div class="custom-header__inner">
    {% render 'header-menu-left', menu: linklists['header-menu-left'] %}
    <div class="custom-header__logo">
      <a href="{{ routes.root_url }}">
        {%- if request.page_type == 'index' and section.settings.logo_home != blank -%}
          {{ section.settings.logo_home | image_url: width: 240 | image_tag }}
        {%- elsif section.settings.logo_default != blank -%}
          {{ section.settings.logo_default | image_url: width: 240 | image_tag }}
        {%- else -%}
          <span class="header-custom__logo-text capitalize">cozy creations</span>
        {%- endif -%}
      </a>
    </div>
    <div class="cusutom-header__menu-right">
      {% render 'header-menu-right', menu: linklists['header-menu-right'] %}
      <div class="custom-header__icon-group">
        {%- if section.settings.enable_search -%}
          <a href="{{ routes.search_url }}" class="header-custom__icon" aria-label="Search">
            {{ 'icon-search.svg' | inline_asset_content }}
          </a>
        {%- endif -%}
  
        {%- if section.settings.enable_account -%}
          <a href="{{ routes.account_url }}" class="header-custom__icon" aria-label="Account">
            {{ 'icon-account.svg' | inline_asset_content }}
          </a>
        {%- endif -%}
  
        {%- if section.settings.enable_cart -%}
          <a href="{{ routes.cart_url }}" class="header-custom__icon" aria-label="Cart">
            {{ 'icon-cart.svg' | inline_asset_content }}
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Custom Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_home",
      "label": "トップページ用ロゴ"
    },
    {
      "type": "image_picker",
      "id": "logo_default",
      "label": "下層ページ用ロゴ"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "label": "検索アイコンを表示",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_account",
      "label": "アカウントアイコンを表示",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_cart",
      "label": "カートアイコンを表示",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}